.card{
    img {
        width: 100%;
        // height: 130px;
        object-fit: cover;
        border-radius: 8px;
    }
    p {
        margin: 5px 0px 0px 10px;
        margin-bottom: 5px;
        color: green;
        font-size: 20px;
    }

    h6 {
        margin: 5px 0px 0px 10px;
        margin-bottom: 5px;
        color: green;
        font-size: 20px;
    }
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    
  }

.spinner{
    height: 100px;
    width: 50px;
    margin-top: 50%;
}

ion-item{
    --background:transparent;
}