<ion-header>
  <ion-toolbar>
    <ion-title>
      {{data}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" (click)="close()">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <!-- <div *ngIf="isLoading" class="spinner-container">
    <ion-spinner class="spinner"></ion-spinner>
  </div> -->

  <div *ngIf="!isLoading" class="category-slider ion-padding-start">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let item of category; let i = index">
          <div (click)="addEditItem('Edit',item)">
            <ion-card  class="card">
              <img [src]="item.image" alt="">
              <p>Rs{{ item.price }}</p>
              <h6>{{ item.name }}</h6>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="addEditItem('Add','')">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>