<ion-header>
  <ion-toolbar>
    <!-- <ion-title>
      {{data}}
    </ion-title> -->
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" (click)="close()">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: -webkit-fill-available;">

    <form *ngIf="editForm" [formGroup]="editForm" #form>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col style="text-align: center" align-self-center>
            <div>
              <ion-item lines="none" class="fo_item">
                <div class="form-group">
                  <ion-label class="fo_item_label" position="stacked">Name</ion-label>
                  <ion-input class="input" maxlength="50"  [(ngModel)]="name"
                    name="username" type="text" formControlName="name"></ion-input>
                </div>
              
              </ion-item>
              <ion-item lines="none" class="fo_item">
                <div class="form-group">
                  <ion-label class="fo_item_label" position="stacked">Price</ion-label>
                  <ion-input class="input"   [(ngModel)]="price"
                    name="email" type="email" formControlName="price"></ion-input>
                </div>
               
              </ion-item>
              <ion-item lines="none" class="fo_item">
                <div class="form-group">
                  <ion-label class="fo_item_label" position="stacked">Quantity</ion-label>
                  <ion-input class="input"   [(ngModel)]="quantity"
                    name="email" type="number" formControlName="quantity"></ion-input>
                </div>
               
              </ion-item>
            </div>
           
            <div>
              <ion-button (click)="saveprofile()"
                class="c_button button_gradient submit">{{buttonName}} Item
              </ion-button>
              <ion-button *ngIf="showDeleteButton" (click)="deleteAlert()"
                class="c_button button_gradient submit">Delete Item
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
