/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-item.fo_item {
  --ion-color-primary: #49e2a9;
  --highlight-height: 0px;

  .form-group {
    border: 1px solid #d8d8d8;
    width: 97%;
    border-radius: 5px;
    height: 50px;
    margin-top: 16px;
  }

  ion-label.fo_item_label {
    top: 2px;
    position: absolute;
    background: white;
    margin-left: 27px;
    padding-left: 6px;
    padding-right: 6px;
    color: #333333;
    font-size: 14px;
    padding-top: 4px;
  }
}

.toast-custom1 {
  --height: 46pt;
  --background: #455aad;
  --color: #ffffff;
  --max-width: 343pt;
  text-align: center;
  font-size: 10pt;
  margin-top: -20px;
}

ion-loading.my-loading-class {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }
}


