<ion-header>
  <ion-toolbar>
    <ion-title>
      ShopBridge
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input [(ngModel)]="searchTitle" placeholder="Search Your Product"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div> -->

  <div> 
    <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput($event)" [placeholder]="searchBarText" class="ion-searchbar">
   </ion-searchbar>
 </div>

 
<div *ngIf="!searching && show">
  <p style="text-align: center;margin-top: 50%;">No Data Found</p>
  </div>
  <div *ngIf="!searching && !show" class="category-slider ion-padding-start">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="2" size-md="4" size-sm="6" size="6" *ngFor="let item of categories; let i = index">
          <div>
            <ion-card (click)="goToItemDetails(item.categoryName)" class="card">
              <img [src]="item.image" alt="">
              <div class="card-title">{{item.categoryName}}</div>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>